html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #264653;
  padding: 10px;
  border-radius: 4px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: center;
}

.navigation {
  list-style-type: none;
  background-color: #2A9D8F;
  padding: 5px 0;
  margin: 10px 0;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 90%;
  border: 2px solid #264653;
}

.add-item {
  background-color: #E9C46A;
  border: 2px solid #264653;
  color: #264653;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 12px;
  /* margin-top: 10px; */
}
.new-project{
  display: flex;
  justify-content: center;
}

.new-project h3{
  margin: 0 0 10px 0;
}
.new-project .add-project {
  border: 1px solid #22223b;
  border-radius: 4px;
  text-align: center;
  padding: 7px 7px 14px 7px;
  margin: 10px 3px;
  display: none;
}

.new-project .add-project .project-input {
  padding: 5px;
  width: 95%;
  margin-top: 5px;
}

.new-project .add-project .submit-project {
  background-color: #e6e6fa;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 10px;
}

.projects {
  width: 90%;
}

.projects .task-list {
  list-style-type: none;
  padding: 5px;
}

.projects .task-list .delete-task {
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #E76F51;
  height: 35px;
  width: 35px;
}

.projects .task-list .edit-task {
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #E76F51;
  height: 35px;
  width: 35px;
}

.projects .task-list .delete-task .fa-trash-alt {
  font-size: 15px;
}

.to-do {
  background-color: #F4A261;
  border-radius: 4px;
  padding: 20px;
  border: 2px solid #264653;
  margin: 10px 3px;
}

.to-do .new-task {
  background-color: #2A9D8F;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #aaa;
  display: none;
}

.to-do .new-task h3 {
  margin: 3px 0 5px 0;
}

.new-task .task-input {
  padding: 5px;
  width: 100%;
  margin-top: 5px;
}

.new-task .task-input-dd {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.to-do h2 {
  margin: 3px 0 5px 0;
}

.to-do .task-list {
  background-color: #264653;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  color: #fff;
  justify-content: space-around;
  align-items: center;
}

.to-do .task-list .task-text {
  flex-basis: 70%;
  margin-right: 10px;
}

.to-do-description {
  margin: 0 0 10px 0;
}

.task-list .task-desc {
  margin: 0;
  font-weight: bold;
}

.task-list .task-size {
  margin: 0;
}

.to-do .new-task .add-task {
  background-color: #e6e6fa;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 10px;
}

.to-do .dlt-prjct {
  background-color: #E9C46A;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 10px;
  width: 60px;
  margin-right: 10px;
}

.to-do .edit-prjct {
  background-color: #E9C46A;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 10px;  
  width: 60px;
}

.to-do .add-tsk {
  background-color: #E9C46A;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #264653;
  margin-right: 166px;
  width: 80px;
}
